.hoursTable {
    background-color: var(--color-white);
    padding: 20px;
    max-width: 500px;
}

.hoursTable h3 {
    color: var(--color-blue-dark);
    font-weight: bold;
    text-align: center;
    margin: 10px 0 20px 0;
}

.hoursTable div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    color: var(--color-blue-dark);
    border-bottom: .5px solid var(--color-body);
}

.hoursTable p {
    margin: 0px;
}

.hoursTable div a.remove {
    color: red;
    font-size: 0.8rem;
    text-decoration: underline;
}

@media(max-width: 1050px) {
    .row {
        flex-direction: column;
    }

    .hoursTable {
        margin: auto;
        margin-top: 20px;
    }
}