form {
    background-color: var(--color-white);
    padding: 20px;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

form h3 {
    color: var(--color-blue-dark);
    font-weight: bold;
    text-align: center;
    margin: 10px 0 20px 0;
}

form button {
    max-width: 200px;
    padding: 15px 25px !important;
    margin: 15px 0;
    align-self: center;
}

form label {
    color: var(--color-blue-dark);
    font-weight: bold;
}

form input {
    border-color: var(--color-dark);
    color: var(--color-blue-dark);
}

form output {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-blue-dark);
}

form #hour {
    display: flex;
    flex-direction: column;
}

form a {
    text-decoration: underline;
    text-align: center;
    font-size: 0.8rem;
}
