header {
    background-color: var(--color-blue-light);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header a{
    display: block;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    color: var(--color-blue-light);
}

header a:hover {
    text-decoration: none;
    color: #00648b;
}

header ul {
    display: flex;
    justify-content: flex-end;
}