.agend {
    max-width: 900px;
    margin: auto;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: var(--color-white);
    padding: 20px;
}

.header-row h3 {
    color: var(--color-blue-dark);
    font-weight: bold;
}

.header-row button {
    font-size: 0.8rem;
    color: var(--color-blue-light);
    border-color: var(--color-blue-light);
}

.body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
}

.hour {
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 0 15px 0;
    color: var(--color-white);
    background-color: var(--color-blue-light);
}

.hour p {
    font-weight: bold;
    margin: 0;
}

@media(max-width: 768px) {
    .header-row {
        flex-direction: column;
    }

    .header-row h3 {
        text-align: center;
    }

    .header-row div {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}

@media(max-width: 460px) {

    .body-row {
        flex-direction: column;
        justify-content: center;

        text-align: center;
    }
}