main {
    margin-top: 50px;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: var(--color-white);
    padding: 20px;
}

.header-row h3 {
    color: var(--color-blue-dark);
    font-weight: bold;
}

.header-row button {
    font-size: 0.8rem;
    color: var(--color-blue-light);
    border-color: var(--color-blue-light);
}

.body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 15px 15px 0;
    color: var(--color-white);
    background-color: var(--color-blue-light);
}

.card p {
    font-weight: bold;
    margin: 0;
}